@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
}

body{
  font-family: 'Inter', sans-serif;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background: url(../img/ultimo-juicio-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

main {
  background: url(../img/ultimo-juicio-bg.jpg);
  background-size: cover;
  }

#bg-shade {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-shade-fff {
  background-color: rgba(255, 255, 255, 0.9);
}

.margin-70px {
  margin-top: 70px;
}

p {
  font-size: 18px;
}

.bold{
  font-weight: 600;
}

.extra-bold{
  font-weight: 999;
}

.italic {
  font-style: italic;
}

.italic-bold {
  font-weight: 700;
  font-style: italic;
}

header {
  height: 120px;
  width: 100%;
  background-color: #1F1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 155px;
  text-align: center;
  margin: 0;
}

h1 a{
  text-decoration: none;
  color: white;
}

#mainheader {
  height: 180px;
  padding-top: 20px;
  background-color: rgba(0,0,0,0.4);
}

#mainheader h1 {
  font-size: 120px;
}

.subtitle{
  font-size: 28px;
  padding-bottom: 30px;
}

.subtitle-2{
  font-size: 18px;
}

.container {
  text-align: center;
  padding-top: 20px;
}

nav {
  width: 100%;
  height: 80px;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
}

nav li {
  padding-right: 60px;
  padding-left: 60px;
}

.navbox a{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}

.navbox a:hover {
  text-decoration: underline;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 50px;
}

section p {
  font-family: 'Inter';
  font-style: normal;
}

.home-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  height: 120px;
  background-color: #1F1E1E;
  color: #fff;
  display: flex;
  align-items: center;
}

.footer_logo-manierismo {
  margin-left: 30px;
}

.footer_logo-manierismo a{
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 32px;
  letter-spacing: 3px;
  line-height: 30px;
}

.footer_search-logo{
  margin-left: 500px;
}

.footer_search-bar {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.footer_search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 60px;
  font-size: 16px;
  width: 500px;
}

.redes-sociales{
  margin-left: 300px;
  display: flex;
  align-items: center;
}

.redes-sociales div{
  padding-right: 50px;
}


/* Galería */


#lightgallery a img {
  height: 400px;
  max-width: auto;
  border-radius: 8px;
}


.lg-actions .lg-prev:after {
  content: '←' !important;
}

.lg-actions .lg-next:before {
  content: '→' !important;
}

.lg-toolbar .lg-close:after {
  content: '✖' !important;
}

#lg-download{
  display: none;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  text-align: center;
}

.gallery-item img {
  max-width: auto;
  height: 400px;
  border-radius: 8px;
}

.g-image-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
}


/* Artistas */


.cards-grid {
  display: flex;
  grid-gap: 80px;
  padding-bottom: 60px;
}

.flip-card {
  width: 320px;
  height: 504px;
  perspective: 2000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
  transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  backface-visibility: hidden;
}
.flip-card-front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flip-card-back {
  font-size: 1.25rem;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 32px;
  background-color: #383aa0;
  color: #fff;
  transform: rotateY(180deg);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.wikilink {
  text-decoration: none;
  color: #f8ea20;
}

/* Historia */

.space-evenly{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.p-history{
  text-align: left;
  width: 40%;
  font-size: 18px;
}

.img-history img{
  width: 500px;
}

.img-history p{
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
}

/* Locaciones */

.locations-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.locaciones-p {
  width: 40%;
  text-align: left;
  align-self: center;
  font-size: 18px;
}



/* Cursos */


.center,.content-cursos
{
  position:absolute;
  top:55%;
  left:50%;
  transform:translate(-50%,-50%);
}
.click-me
{
  color: #fff;
  display:block;
  width:160px;
  height:50px;
  background: green;
  box-shadow: -3px -3px 7px #fffdfdcc,3px 3px 5px rgba(94, 104, 121, 0.342);
  text-align:center;
  font-size:22px;
  line-height:50px;
  cursor:pointer;
}
#click
{
  display:none;
}
.click-me:hover
{
  color: #0a5878;
  background: #dde1e7;
}
.content-cursos
{
  visibility:hidden;  
  width: 330px;
  height: auto;
  background: #dde1e7;
  padding: 30px 35px 40px;
  box-sizing: border-box;
  border-radius: 5px;
}
#temp
{
  position:absolute;
  right:10px;
  top:20px;
  font-size:25px;
  background: #dde1e7;
  padding: 3px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 50%;
  cursor:pointer;
}
#click:checked~.content-cursos
{
  opacity:1;
  visibility:visible;
}
.text-cursos
{
  font-size: 30px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}
.form-cursos
{
  margin-top: 40px;
}
.label-cursos
{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.input-cursos
{
  display: block;
  height: 43px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  border: none;

  margin-top: 8px;

  font-size: 14px;
  font-weight: 300;
}
::placeholder
{
  color: #4b4e4d;
  padding-left: 10px;
}

.success-message {
  display: none;
  font-weight: 700;
  color: green;
  margin-top: 20px;
}

.cursos-registro
{
  width: 100%;
  margin-top: 35px;
  padding: 12px;
  background: #dde1e7;
  border: solid;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 32px;
  cursor:pointer;
}

.cursos-registro:hover{
  color: #0a5878;
}

.form-img {
  display: block;
  margin-top: 50px;
  padding-bottom: 50px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
